# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.sub
/Makefile
/config.status
/config.log
/config.guess

# eclipse project files
.settings/**
/.project
/.cproject
/.autotools
